<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.rolLocation.home.title">Rol Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rol-location" [routerLink]="['/rol-location/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testApp.rolLocation.home.createLabel">
            Create new Rol Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rolLocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testApp.rolLocation.content">Content</span></th>
            <th><span jhiTranslate="testApp.rolLocation.rol">Rol</span></th>
            <th><span jhiTranslate="testApp.rolLocation.language">Language</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rolLocation of rolLocations ;trackBy: trackId">
                <td><a [routerLink]="['/rol-location', rolLocation.id, 'view' ]">{{rolLocation.id}}</a></td>
                <td>{{rolLocation.content}}</td>
                <td>
                    <div *ngIf="rolLocation.rol">
                        <a [routerLink]="['../rol', rolLocation.rol?.id, 'view' ]" >{{rolLocation.rol?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rolLocation.language">
                        <a [routerLink]="['../language', rolLocation.language?.id, 'view' ]" >{{rolLocation.language?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rol-location', rolLocation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rol-location', rolLocation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rol-location/'+ rolLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
