<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.userRegistration.home.title">User Registrations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-registration" [routerLink]="['/user-registration/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testApp.userRegistration.home.createLabel">
            Create new User Registration
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userRegistrations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="userName"><span jhiTranslate="testApp.userRegistration.userName">User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="countryCode"><span jhiTranslate="testApp.userRegistration.countryCode">Country Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="city"><span jhiTranslate="testApp.userRegistration.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="citizenshipCode"><span jhiTranslate="testApp.userRegistration.citizenshipCode">Citizenship Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondCitizenshipCode"><span jhiTranslate="testApp.userRegistration.secondCitizenshipCode">Second Citizenship Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondCitizenship"><span jhiTranslate="testApp.userRegistration.secondCitizenship">Second Citizenship</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rol.id"><span jhiTranslate="testApp.userRegistration.rol">Rol</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let userRegistration of userRegistrations ;trackBy: trackId">
                <td><a [routerLink]="['/user-registration', userRegistration.id, 'view' ]">{{userRegistration.id}}</a></td>
                <td>{{userRegistration.countryCode}}</td>
                <td>{{userRegistration.city}}</td>
                <!--<td>{{userRegistration.citizenshipCode}}</td>
                <td>{{userRegistration.secondCitizenshipCode}}</td>
                <td>{{userRegistration.secondCitizenship}}</td>
                <td>
                    <div *ngIf="userRegistration.rol">
                        <a [routerLink]="['../rol', userRegistration.rol?.id, 'view' ]" >{{userRegistration.rol?.id}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/user-registration', userRegistration.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/user-registration', userRegistration.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-registration/'+ userRegistration.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
