<div class="row" style="margin:0">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>-->
    <div class="main">
      <form name="form" (ngSubmit)="f1.form.valid && searchCourses(); f1.form.valid && c('Al guardar')" #f1="ngForm" novalidate>
        <!--<div>
          <div id="lead-widget"></div>
        </div>-->
        <div>
            <div class="form-row col-md-12">
              <div class="form-group col-md-12">
                <label for="inputAddress">Ubicación (Ciudad)</label>
                 <div class="input-group">
                   <input id="typeahead-basic" type="text" id="location" name="location" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" required #location="ngModel"/>
                </div>
                <div *ngIf="location.invalid && ( (location.dirty || location.touched) || f1.submitted)" class="alert alert-danger">
                  <div *ngIf="location.errors.required">
                    La ubicación es requerida.
                  </div>
                </div>
                <!--<label for="inputAddress">Ciudad</label>
                 <div class="input-group">
                    <ngx-select-dropdown [multiple]="false" [(value)]="singleSelect" [config]="config" [options]="options"></ngx-select-dropdown>
                    <ng-select [allowClear]="true"
                    [items]="items"
                    [disabled]="disabled"
                    (data)="refreshValue($event)"
                    (selected)="selected($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    placeholder="No city selected">
                   </ng-select>
                <ng-select class="custom" [items]="cities"
                 [virtualScroll]="true"
                 [loading]="loading"
                 bindLabel="description"
                 bindValue="id"
                 placeholder=""
                 [(ngModel)]="o.cityId"
                 (scrollToEnd)="fetchMore($event)" ngDefaultControl>
                 <ng-template ng-header-tmp>
                    <small class="form-text text-muted">{{citiesBuffer.length}} de {{cities.length}}</small>
                 </ng-template>
                 <ng-template ng-option-tmp let-item="item" let-index="index">
                   {{item.description}}
                </ng-template>
              </ng-select>-->
                <!--<input class="form-control" type="text" [(ngModel)]="term">
                <div *ngFor = "let item of cities |filter:term" >
                  <p>
                    {{item.description}}
                  </p>
                </div>
                </div>-->
              </div>
            </div>
            <div class="form-row col-md-12">
               <div class="form-group col-md-3">
                 <label for="inputAddress">Tipo curso</label>
                  <div class="input-group">
                    <select class="form-control" name="courseType" id="courseType" [(ngModel)]="o.courseType" #courseType="ngModel" required (ngModelChange)="getCoursesCategories($event)">
                      <option value="" disabled></option>
                      <option *ngFor="let c of coursesType" [ngValue]="c.id">
                        {{c.description}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="courseType.invalid && ( (courseType.dirty || courseType.touched) || f1.submitted)" class="alert alert-danger">
                    <div *ngIf="courseType.errors.required">
                      El tipo de curso es requerido.
                    </div>
                  </div>
               </div>
               <div class="form-group col-md-3">
                 <label for="inputAddress">Categoría</label>
                  <div class="input-group">
                    <select class="form-control" name="courseCategory" id="courseCategory" [(ngModel)]="o.courseCategory" #courseCategory="ngModel" required>
                      <option value="" disabled></option>
                      <option *ngFor="let ct of coursesCategory" [ngValue]="ct.name">
                        {{ct.name}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="courseCategory.invalid && ( (courseCategory.dirty || courseCategory.touched) || f1.submitted)" class="alert alert-danger">
                    <div *ngIf="courseCategory.errors.required">
                      La categoría es requerida.
                    </div>
                  </div>
               </div>
               <div class="form-group col-md-3">
                 <label>Fecha inicio</label>
                   <div class="input-group">
                     <span class="input-group-addon" (click)="d.toggle()" style="float:left;"><i class="icofont icofont-ui-calendar"></i></span>
                     <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="courseDate" name="courseDate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="o.courseStartDate" #courseStartDate="ngModel"/>
                     <!--<input type="text" class="form-control" placeholder="yyyy-mm-dd" id="date" name="date" [(ngModel)]="o.date" ngbDatepicker #d="ngbDatepicker" (keyup)="onKey()" #date"ngModel">-->
                   </div>
               </div>
               <div class="form-group col-md-3">
                 <label for="inputAddress">Número de semanas</label>
                  <div class="input-group">
                    <select class="form-control" name="numberOfWeeks" id="numberOfWeeks" [(ngModel)]="o.numberOfWeeks" #numberOfWeeks="ngModel">
                      <option value="" disabled></option>
                      <option *ngFor="let w of weekNumber" [ngValue]="w.id">
                        {{ w.description}}
                      </option>
                    </select>
                  </div>
               </div>
            </div>
        </div>
        <div class="form-row col-md-12">
           <div class="form-group col-md-3">
             <label for="inputAddress">Moneda</label>
              <div class="input-group">
                <select class="form-control" name="currency" id="currency" [(ngModel)]="o.currency" #currency="ngModel" required>
                  <option value="" disabled></option>
                  <option *ngFor="let c of currencies" [ngValue]="c.id">
                    {{c.description}}
                  </option>
                </select>
              </div>
              <div *ngIf="currency.invalid && ( (currency.dirty || currency.touched) || f1.submitted)" class="alert alert-danger">
                <div *ngIf="currency.errors.required">
                  La moneda es requerida.
                </div>
              </div>
           </div>
        </div>
        <div class="btn-div">
            <!--<button class="btn btn-primary btn-xs" type="button" (click) ="searchCourses()">Búsqueda</button>-->
            <button type="submit" class="btn btn-primary btn-xs">Buscar</button>
        </div>
        <div class="container_1" [hidden]="hideSection_">
          <div *ngFor="let h of c">
            <div class="item__image-area">
             <div style="display:flex;align-items:center;margin:auto;height:150px;">
               <img alt class="item_image" [src]="h.institute.featuredImageUri">
             </div>
            </div>
            <div class="item__center">
                <p class="title">{{ h.name }}</p>
                <p class="title_1"> {{h.institute.school.name}}</p>
            </div>
            <div class="item__left">
                <p class="title">${{h.coursePrice | number}}</p>
                <!--<p>${{getPrice(h.id) | number}}-->

            </div>
          </div>
        </div>
        <div [hidden]="hideSection">
          No se encontraron resultados
        </div>
      </form>
    </div>
</div>
