<div class="row" style="margin:0">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>-->
    <div class="main">
      <main style="padding:40px">
        <div id="lead-widget"></div>
      </main>

        <div>
            <div class="form-row col-md-12">
              <div class="form-group col-md-12">
                <input class="form-control" id="inputdefault" type="text">
              </div>
            </div>
            <div class="form-row col-md-12">
               <div class="form-group col-md-4">
                 <label for="inputAddress">Tipo curso</label>
                  <div class="input-group">
                    <select class="form-control" name="courseType" id="courseType" [(ngModel)]="o.courseType" #courseType="ngModel">
                      <option value="" disabled></option>
                      <option *ngFor="let c of courses" [ngValue]="c.id">
                        {{c.description}}
                      </option>
                    </select>
                  </div>
               </div>
               <div class="form-group col-md-4">
                 <label>Fecha</label>
                   <div class="input-group">
                     <span class="input-group-addon" (click)="d.toggle()" style="float:left;"><i class="icofont icofont-ui-calendar"></i></span>
                     <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="courseDate" name="courseDate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="o.courseDate"/>
                     <!--<input type="text" class="form-control" placeholder="yyyy-mm-dd" id="date" name="date" [(ngModel)]="o.date" ngbDatepicker #d="ngbDatepicker" (keyup)="onKey()" #date"ngModel">-->
                   </div>
               </div>
               <div class="form-group col-md-4">
                 <label for="inputAddress">Número de semanas</label>
                  <div class="input-group">
                    <select class="form-control" name="numberOfWeeks" id="numberOfWeeks" [(ngModel)]="o.numberOfWeeks" #numberOfWeeks="ngModel">
                      <option value="" disabled></option>
                      <option *ngFor="let w of weekNumber" [ngValue]="w.id">
                        {{ w.description}}
                      </option>
                    </select>
                  </div>
               </div>
            </div>
        </div>
        <div class="btn-div">
            <button class="btn btn-primary btn-xs" type="button">Búsqueda</button>
        </div>
    </div>
</div>
